---
import Layout from "@layouts/Layout.astro";
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
import NewsLetter from "@components/NewsLetter.astro";
import TeamOverview from "@components/TeamOverview.astro";
---

<Layout title="team">
  <HeroBgWrapper imagePath="teamhero.jpg" class="team-hero">
    <header>
      <p>Team</p>
      <h1>Consultors</h1>
    </header>
  </HeroBgWrapper>
  <TeamOverview>
    <h2>Meet Our Great Team</h2>
    <p>Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. Each member brings unique skills and experiences, working together to achieve our goals. Join us as we embark on exciting projects and create lasting impacts.</p>
  </TeamOverview>
  <NewsLetter />
</Layout>

<style>
  :global(.team-hero) {
    min-height: 433px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;

    > header {
      display: inline-flex;
      padding: 2svw 3svw;
      flex-direction: column;
      align-self: center;
      gap: 10px;
      border-radius: 29px;
      background: rgba(255, 255, 255, 0.85);
      grid-column: 2;
      height: min-content;
      width: fit-content;
      backdrop-filter: blur(5.5px);
      margin: 0px 20px;
    }
  }

  header > h1 {
    color: #181818;
    font-family: Cabin;
    font-size: var(--size-4);
    font-style: normal;
    font-weight: 700;
  }
  header > p {
    border-radius: 20px;
    background: #ffcc4a;
    padding: 0 15px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    width: fit-content;
  }
</style>
