---
import PlusIcon from "../icons/plus.svg";
const { exclusive, ...props } = Astro.props;
const { question, answer, linkBlock } = props;
---

<details {...exclusive ? { name: "faq" } : {}}>
  <summary>
    <span>
      <h3>{question}</h3>
      <PlusIcon />
    </span>
  </summary>
  <div class="answer">
    {answer}
    {
      linkBlock && (
        <a class="link-block" href={linkBlock.url} target="_blank">
          {linkBlock.label}
        </a>
      )
    }
  </div>
</details>

<style>
  details {
    color: hsl(190 30% 12%);
    border-bottom: 1px solid #dadada;

    &[open] {
      --r: z 90deg;
    }

    &::details-content {
      opacity: 1;
      height: 0;
      block-size: 0;
      overflow-y: clip;
      transition:
        content-visibility 0.5s allow-discrete,
        opacity 0.5s,
        height 0.5s ease,
        block-size 0.5s;
    }

    &[open]::details-content {
      opacity: 1;
      height: auto;
      block-size: auto;
    }

    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
      &[open] {
        --r: z 90deg;
      }

      &::details-content {
        opacity: 0;
      }
    }

    @supports not (interpolate-size: allow-keywords) {
      &[open]::details-content {
        height: 150px;
        overflow-y: scroll; /* Så der kan scrolles hvis content er over 150px*/
      }
    }

    summary {
      font-weight: 700;
      color: #181818;
      text-wrap: revert;
      user-select: none;
      cursor: pointer;

      &::marker,
      &::-webkit-details-marker {
        content: "";
        display: none;
      }

      span {
        border: none;
        text-align: start;
        padding: 0;
        inline-size: 100%;
        padding-block: 1rlh;
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        svg {
          inline-size: auto;
          height: 1lh;
          flex-shrink: 0;
        }
      }
    }

    .answer {
      color: #595566;

      > * + * {
        margin-top: 0.5em;
      }

      &:last-child {
        padding-block-end: 1rlh;
      }

      .link-block {
        display: block;
      }
    }
  }
</style>
