---
import DynamicIcon from "./helpers/DynamicIcon.astro";
import DynamicImage from "./helpers/DynamicImage.astro";
---

<section>
  <div>
    <div>
      <h4>Process</h4>
      <h2>Contact Us. It’s Easy.</h2>
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
      <div>
        <div>
          <div>
            <circle></circle>
            <DynamicIcon name="phone" />
          </div>
          <div>
            <p>Call Today</p>
            <h3>+1 800 100 900</h3>
          </div>
        </div>
        <div>
          <div>
            <circle cx="26.6561" cy="26.4976" r="26.1658" fill="#A4EDA4"></circle>
            <DynamicIcon name="clock" />
          </div>
          <div>
            <p>Monday To Friday</p>
            <h3>9AM - 5PM</h3>
          </div>
        </div>
        <div>
          <div>
            <circle cx="26.6561" cy="26.6861" r="26.1658" fill="#EAEAEA"></circle>
            <DynamicIcon name="pin" />
          </div>
          <div>
            <p>USA Office</p>
            <h3>195 Devonshire St Boston, MA 02110</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <DynamicImage imagePath="/src/data/images/contact_01.jpg" altText="person der sidder på stol" />
      <DynamicImage imagePath="/src/data/images/contact_02.jpg" altText="to personer der sidder ved computer" />
      <DynamicImage imagePath="/src/data/images/contact_03.jpg" altText="to personer der har samtale" />
    </div>
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    padding: 64px 20px;
    container: section / inline-size;

    h4 {
      padding-bottom: 0.3svw;
    }

    h2 {
      padding-bottom: 0.7svw;
    }

    h3 {
      font-size: var(--size-1);
    }

    > div {
      grid-column: 2;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: 136px;

      > div > div {
        display: flex;
        flex-direction: column;
        gap: 56px;
      }

      > div > p {
        margin-bottom: 38px;
        color: #595566;
      }

      > div:has(h4) > div > div {
        display: flex;
        gap: 16px;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 2.3svw;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-radius: 20px;
      background: #4eaf4e;
      width: 164px;
      height: 307px;
      transform: rotate(90deg);
      z-index: -1;
      top: 350px;
      left: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../assets/images/grid.svg);
      width: 327.802px;
      height: 327.803px;
      top: -7.4%;
      right: -10.3%;
      z-index: -1;
    }

    > img {
      border-radius: 28px;
      height: 100%;
    }

    > :nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    > :nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    > :nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
  div > div > div > div > div:has(circle) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    > * {
      grid-row: 1;
      grid-column: 1;
      place-self: center;
    }

    :nth-child(1) > & {
      svg {
        color: #deaa27;
      }
      circle {
        background: #ffecbb;
      }
    }
    :nth-child(2) > & {
      svg {
        color: #4eaf4e;
      }
      circle {
        background: #a4eda4;
      }
    }
    :nth-child(3) > & {
      svg {
        color: #181818;
      }
      circle {
        background: #eaeaea;
      }
    }
  }

  circle {
    display: block;
    width: 52.332px;
    height: 52.332px;
    border-radius: 100%;
    background-color: #ffecbb;
  }

  @container section (width < 700px) {
    section > div {
      grid-template-columns: 1fr;
      gap: 50px;

      .grid::before {
        display: none;
      }
    }
  }
</style>
