---
const { cardContent } = Astro.props;

const cards = Array.isArray(cardContent) ? cardContent : cardContent && Array.isArray(cardContent.values) ? cardContent.values : defaultValues;

import DynamicIcon from "./helpers/DynamicIcon.astro";
import Button from "./Button.astro";
import { values as defaultValues } from "../data/coreValues.json";
---

<section>
  <div>
    <div>
      <h4>Growing with our Clients</h4>
      <h2>Our core values & principles</h2>
      <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. <br /> Override the digital divide with additional from DevOps.</p>
    </div>
    <div>
      <Button link="#" btnColor="#fff" txtColor="var(--bg-color-black)" txt="Get in touch" />
    </div>
  </div>
  <ul>
    {
      cards.map((card) => (
        <li>
          <div>
            <circle cx="26.8889" cy="26.3889" r="26.3889" fill="#181818" />
            <DynamicIcon name={card.icon} />
          </div>
          <h3>{card.title}</h3>
          <p>{card.description}</p>
          <a href="#">Read more &#8594;</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  :root {
    --content-width: 1200px;
    --card-padding: 36px 23px;
    --card-gap: 1rem;
    --card-border-radius: 8px;
    --card-background: #ebebeb;
    --card-text-color: #595566;
    --card-title-color: #181818;
    --scroll-padding: max(1rem, 50% - var(--content-width) / 2);
  }

  h2 {
    font-size: var(--size-4);
    font-family: Cabin;
    font-style: normal;
    font-weight: 700;
  }

  section {
    display: grid;
    grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr;
    background: var(--bg-color-black);
    padding: 10svw 5svw;

    > * {
      grid-column: 2;
    }

    > div {
      display: flex;
      container: section / inline-size;
      gap: 15px;

      @container section (width < 700px) {
        > div {
          margin-bottom: 2svw;
        }
      }

      > :has(h2) {
        flex: 1;
        color: #fff;

        h2 {
          margin-bottom: 11px;
        }

        h4 {
          font-family: Lato;
          font-size: var(--size-0);
          font-style: normal;
          font-weight: 400;
          letter-spacing: 2.32px;
          text-transform: uppercase;
          margin-bottom: 8px;
        }
      }

      > :last-child {
        display: flex;
        gap: 26px;
        place-self: end;
      }
    }
  }

  ul {
    margin-top: 2.2svw;
    list-style: none;
    padding: 0;
    display: flex;
    gap: var(--card-gap);
    scroll-snap-type: x mandatory;
    overflow-x: auto;

    li {
      flex: 1 0 226px;
      background: var(--card-background);
      color: var(--card-text-color);
      padding: var(--card-padding);
      scroll-snap-align: start;
      border-radius: 20px;
      height: min-content;

      h3 {
        color: var(--card-title-color);
        font-family: Cabin;
        font-size: var(--size-2);
        font-style: normal;
        font-weight: 600;
      }

      p {
        padding-bottom: 22px;
        color: #595566;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
      }

      > div:has(circle) {
        display: grid;
        grid-template-columns: min-content;
        grid-template-rows: min-content;

        > * {
          grid-column: 1;
          grid-row: 1;
          place-self: center;
        }
      }
      circle {
        display: block;
        width: 52.778px;
        height: 52.778px;
        border-radius: 52.778px;
        background: var(--bg-color-black);
      }
      svg {
        color: #fff;
        align-content: center;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--bg-color-black);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
</style>
