---
import Popover from "./Popover.astro";
---

<div class="header">
  <div>
    <h2>AskExperts</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/case/">Case Study</a></li>
      <li>Team</li>
      <li>About</li>
    </ul>
    <div>
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <button popovertarget="popup">Login</button>
    </div>
  </div>
</div>
<Popover />

<style>
  .header {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    padding: 38px;
    background: #1b1b1be8;

    > div {
      grid-column: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      container: header / inline-size;

      @container header (width < 700px) {
        ul {
          display: none;
        }

        .burger {
          display: flex;
          flex-direction: column;
          gap: 4px;
          > * {
            width: 30px;
            height: 4px;
            border-radius: 20px;
            background-color: #fff;
          }
        }
        > div:has(.burger) {
          display: flex;
          gap: 10px;
          place-items: center;
        }
      }

      h2 {
        color: #fff;
        font-family: Cabin;
        font-size: var(--size-2);
        font-style: normal;
        font-weight: 600;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-content: center;
    padding-inline-start: 0px;
    color: #fff;
    font-size: 18px;
    margin: 0px;
  }

  button {
    color: var(--bg-color-black);
    background-color: var(--primary-color-01);
    border-radius: 20px;
    padding: 4px 16px;
    place-self: center end;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
</style>
