---
import DynamicImage from "./helpers/DynamicImage.astro";
import DynamicIcon from "./helpers/DynamicIcon.astro";
---

<section class="grid">
  <div>
    <DynamicImage imagePath="/src/data/images/Index01Photo.jpg" altText="person i forgrund og to kollegaer der snakker i baggrund" class="img" />
    <div>
      <h4>WE'LL WORK WITH YOU</h4>
      <h2>What To Expect</h2>
      <p>Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
      <div>
        <div><DynamicIcon name="checkmark" /> <p>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</p></div>
        <div><DynamicIcon name="checkmark" /> <p>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</p></div>
      </div>
    </div>
  </div>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    padding: 5svw;
    container: section / inline-size;

    > div {
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 82px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-image: url(../assets/images/grid.svg);
        width: 327.802px;
        height: 327.803px;
        top: -18.5%;
        left: -8.3%;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: #4eaf4e;
        width: 164px;
        height: 183px;
        transform: rotate(-90deg);
        border-radius: 20px;
        top: -10%;
        left: -2.5%;
        z-index: -1;
      }

      .img {
        border-radius: 28px;
        position: relative;
      }

      > div > p {
        padding-bottom: 21px;
      }

      > div > div > div {
        display: flex;
        gap: 10px;
        padding-bottom: 18px;

        p {
          text-box-trim: trim-start;
        }

        svg {
          color: #4eaf4e;
          place-self: start;
        }
      }
    }
  }
  h2 {
    font-size: var(--size-4);
    font-family: Cabin;
    font-style: normal;
    font-weight: 700;
  }
  p {
    font-style: normal;
  }

  @container section (width < 720px) {
    .grid > div {
      grid-template-columns: 1fr;
      gap: 5svw;
      margin-bottom: 20px;

      &::after {
        top: 235px;
        left: -2px;
        display: none;
      }

      &::before {
        top: 235px;
        left: -20px;
        display: none;
      }

      .img {
        order: 1;
      }
    }
  }

  @container section (width < 602px) {
    .grid > div::before {
      display: block;
    }

    .grid > div::after {
      display: block;
    }
  }
</style>
